<a href="https://colab.research.google.com/github/GurmitSeera/SQL-Exercises/blob/main/Index.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Index

Index used to retrieve data from database more quickly than otherwise. Users cannot see the indexes, they are just used to speed up searches/queries.

An index is a structure that holds the field the index is sorting and a pointer from each record to their corresponding record in the original table where the data is actually stored. Indexes are used in things like a contact list where the data may be physically stored in the order you add peopleâ€™s contact information but it is easier to find people when listed out in alphabetical order.

**Type of Indexes:-**
1. Unique Index
2. Clustered Index
3. Non-clustered Index

In [ ]:
# Install postgresql server
!sudo apt-get -y -qq update
!sudo apt-get -y -qq install postgresql
!sudo service postgresql start

# Setup a password `postgres` for username `postgres`
!sudo -u postgres psql -U postgres -c "ALTER USER postgres PASSWORD 'postgres';"

# Setup a database with name `tfio_demo` to be used
!sudo -u postgres psql -U postgres -c 'DROP DATABASE IF EXISTS testdb;'
!sudo -u postgres psql -U postgres -c 'CREATE DATABASE testdb;'
!pip install psycopg2

In [27]:
import pandas as pd
import psycopg2

In [28]:
connection_string = {'host':'localhost',
                     'dbname':'testdb',
                     'user':'postgres',
                     'password':'postgres',
                     'port':5432}
connection = psycopg2.connect(**connection_string)

In [29]:
query_create_table = """ Create table employee_info(employee_id varchar(10),
employee_name varchar(64), city varchar(64)
);
"""
with connection.cursor() as cur:
  cur.execute(query_create_table)

In [30]:
insert_query = """ Insert into employee_info (employee_id, employee_name, city)
values
('1', 'Ramesh', 'Delhi'),
('2', 'Rahul', 'Gurugram'),
('3', 'Sandeep', 'Kolkata'),
('4', 'Deepanshu', 'Sonipat'),
('5', 'Sapna', 'Noida'),
('6', 'Varun', 'Noida'),
('7', 'Himanshu', 'Bhopal'),
('8', 'Ashwini', 'Jaipur'),
('9', 'Vipul','Panipat')
;
"""
with connection.cursor() as cur:
  cur.execute(insert_query)

# Unique Index
Indexing does not allow key to have duplicate values if column is unique indexed. 
Unique Index is automatically applied when primary key is defined( on primary key).

In [31]:
sql_query = """ Create Index employee_name_asc on employee_info (employee_name asc);
"""
with connection.cursor() as cur:
  cur.execute(sql_query)

In [32]:
sql_query = """ select * from  pg_indexes WHERE tablename = 'employee_info';
"""
pd.read_sql_query(sql_query,connection)

  schemaname  ...                                           indexdef
0     public  ...  CREATE INDEX employee_name_asc ON public.emplo...

[1 rows x 5 columns]

# Clustered Index

Reordered the physical order of table and search based on key value. Each table can have only one clustered index

In [19]:
Sql_query = """ Create Clustered Index city_desc on employee_info (city desc);
"""
with connection.cursor() as cur:
  cur.execute(sql_query)

In [ ]:
sql_query = """ select * from  pg_indexes WHERE tablename = 'employee_info';
"""
pd.read_sql_query(sql_query,connection)

# Non-clustered Indexes

Non-clustered indexes are sorted references for a specific field, from the main table, that hold pointers back to the original entries of the table.

Non-clustered indexes are not new tables. Non-clustered indexes hold the field that they are responsible for sorting and a pointer from each of those entries back to the full entry in the table.

Non-clustered indexes point to memory addresses instead of storing data themselves. This makes them slower to query than clustered indexes but typically much faster than a non-indexed column.

You can create many non-clustered indexes. We can have up to 999 non-clustered indexes in SQL Server and there is no limit in PostgreSQL.

**Update a table with index take more time because index also need an update.**

So, create indexes on columns that will be frequently searched

# Drop Index

In [36]:
sql_query2 = """ Drop Index employee_name_asc;
"""
with connection.cursor() as cur:
  cur.execute(sql_query2)

In [37]:
sql_query = """ select * from  pg_indexes WHERE tablename = 'employee_info';
"""
pd.read_sql_query(sql_query,connection)

Empty DataFrame
Columns: [schemaname, tablename, indexname, tablespace, indexdef]
Index: []